/*Positioning- Homepage ============================================*/

.header {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 5% repeat(2, 45%) 5%;
  gap: 0px 0px;
  grid-template-areas:
    ". logo button ."
    ". . . ."
    ". header--title header--imagecontainer ."
    ". header--intro header--imagecontainer ."
    ". header--button header--imagecontainer ."
    ". navigation navigation ."
    ". . . .";
}

.logo {
  grid-area: logo;
  align-self: end;
}

.button {
  justify-self: end;
  align-self: end;
}

.header--title {
  grid-area: header--title;
  padding-left: 10%;
  padding-right: 10%;
  align-self: center;
}

.header--intro {
  grid-area: header--intro;
  padding-left: 10%;
  padding-right: 10%;
  align-content: center;
}

.header--button {
  grid-area: header--button;
  padding-left: 10%;
}

.header--imagecontainer {
  grid-area: header--imagecontainer;
  margin-top: -5%;
}

.navigation {
  grid-area: navigation;
  align-self: end;
  margin-left: 3%;
}

a.navigation--link {
  padding-left: 2%;
  padding-right: 2%;
}

@media screen and (max-width: 1023px) {
  .header {
    display: grid;
    min-height: 100vh;
    margin: 16px 0px;
    grid-template-columns: 5% repeat(2, 45%) 5%;
    gap: 0px 0px;
    grid-template-areas:
      ". logo button ."
      ". . . ."
      ". header--title header--title ."
      ". header--imagecontainer header--imagecontainer ."
      ". header--intro header--intro ."
      ". header--button  header--button ."
      ". navigation navigation ."
      ". . . .";
  }

  .header--title,
  .header--intro {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }

  .header--imagecontainer {
    margin: 0px 24px;
  }

  .header--button {
    display: flex;
    padding-left: 0;
    justify-content: center;
  }

  .navigation {
    margin-left: 3%;
    display: flex;
    justify-content: center;
    margin-top: 12px;
  }

  .button {
    align-self: start;
  }
}

/*Позиционирование: гриды; отстпупы-поля; выравнивание - Страница "Возможности" (то, что не вошло в предыд.)==========*/
.features {
  display: grid;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 5% 10% repeat(2, 18% 8%) 18% 10% 5%;
  margin: 16px 0px;
  grid-template-areas:
    ". logo . . . . button button ."
    ". . features--title features--title features--title . . . ."
    ". . features--box1 . features--box2 . features--box3 . ."
    ". . . . . . . . ."
    ". . features--box4 . features--box5 . features--box6 . ."
    ". navigation navigation navigation navigation navigation navigation . ."
    ". . . . . . . . .";
}

.logo {
  grid-area: logo;
}

.button {
  grid-area: button;
}

.features--title {
  grid-area: features--title;
  margin-top: 0px;
  margin-bottom: 0px;
  align-self: center;
}

.features--box1 {
  grid-area: features--box1;
}

.features--box2 {
  grid-area: features--box2;
}

.features--box3 {
  grid-area: features--box3;
}

.features--box4 {
  grid-area: features--box4;
}

.features--box5 {
  grid-area: features--box5;
}

.features--box6 {
  grid-area: features--box6;
  color: white;
  background-color: #ec615b;
  padding-left: 5%;
}

.button_size-m {
  margin-left: 10%;
}

.navigation {
  grid-area: navigation;
  align-self: end;
}

@media screen and (max-width: 1023px) {
  .features {
    display: grid;
    min-height: 100vh;
    display: grid;
    gap: 0;
    margin: 24px 0px;
    grid-template-columns: 5% 44% 44% 5%;
    grid-template-areas:
      ". logo button ."
      ". features--title features--title ."
      ". features--box1 features--box2 ."
      ". features--box3 features--box4 ."
      ". features--box3 features--box5 ."
      ". features--box6 features--box6 ."
      ". navigation navigation .";
  }

  .features--box1,
  .features--box3 {
    margin-right: 24px;
  }
  .features--box6 {
    padding: 5%;
  }
}

/*Типографика ========================================================================================================*/
h1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  line-height: 140%;
  letter-spacing: 0.02em;
  font-weight: 900;
  font-size: 3.375rem;
  text-align: left;
}

h1.features--title {
  font-weight: 700;
  font-size: 2.625em;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5em;
  text-align: left;
  margin-top: 5%;
  margin-bottom: 0px;
}

p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 160%;
  text-align: left;
}

p.header--intro {
  font-size: 1.875em;
}

a.navigation--link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.25em;
  text-align: left;
  text-decoration: none;
  color: #5222d0;
}

#features-navigation {
  color: #000000;
}

.subscribe--emal {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1em;
  line-height: 160%;
  text-align: left;
}

/*Оформление: кнопки =================================================================================================*/
.button-size-s,
.button-size-m,
.button-size-l {
  outline: none;
  padding: 10px 20px;
  border-radius: 100px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  background: #5222d0;
  box-shadow: 0px 4px 4px rgba(17, 8, 8, 0.25);
}

.button-size-s {
  width: 135px;
  height: 38px;
  font-size: 0.875em;
}

.button-size-m {
  width: 155px;
  height: 38px;
  font-size: 0.875em;
}

.button-size-l {
  width: 270px;
  height: 84px;
  font-size: 2.1875em;
}

/*Оформление: картинки ===============================================================================================*/
.logo--img {
  max-width: 100%;
}

.header--img {
  width: 100%;
}

.features--img {
  width: 100%;
}

.button-icon {
  height: 70%;
  padding-left: 5px;
}

.button-bigicon {
  height: 45%;
  padding-left: 5px;
}

/*Оформление: все остальное ==========================================================================================*/
.subscribe--emal {
  width: 90%;
  margin: 5% 5% 5% 0%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
