/*Позиционирование: гриды; отстпупы-поля; выравнивание - Главная страница ============================================*/

.header {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 5% repeat(2, 45%) 5%;
    grid-template-rows: 10% 10% 20% 30% 10% 15% 5%;
    gap: 0px 0px;
    grid-template-areas:
        ". logo button ."
        ". . . ."
        ". header--title header--imagecontainer ."
        ". header--intro header--imagecontainer ."
        ". header--button header--imagecontainer ."
        ". navigation navigation ."
        ". . . .";
}

.logo {
    grid-area: logo;
    align-self: end;
}

.button {
    justify-self: end;
    align-self: end;
}

.header--title {
    grid-area: header--title;
    padding-left: 10%;
    padding-right: 10%;
    align-self: center;
}

.header--intro {
    grid-area: header--intro;
    padding-left: 10%;
    padding-right: 10%;
    align-content: center;
}

.header--button {
    grid-area: header--button;
    padding-left: 10%;
}

.header--imagecontainer {
    grid-area: header--imagecontainer;
    margin-top: -5%;
}

.navigation {
    grid-area: navigation;
    align-self: end;
    margin-left: 3%;
}

a.navigation--link {
    padding-left: 2%;
    padding-right: 2%;
}

/*Позиционирование: гриды; отстпупы-поля; выравнивание - Страница "Возможности" (то, что не вошло в предыд.)==========*/
.opportunities {
    display: grid;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 5% 10% repeat(2, 18% 8%) 18% 10% 5%;
    grid-template-rows: 8% 12% 45% 5% 20% 5% 5%;
    gap: 0px 0px;
    grid-template-areas:
        ". logo . . . . button button ."
        ". . opportunities--title opportunities--title opportunities--title . . . ."
        ". . opportunities--box1 . opportunities--box2 . opportunities--box3 . ."
        ". . . . . . . . ."
        ". . opportunities--box4 . opportunities--box5 . opportunities--box6 . ."
        ". navigation navigation navigation navigation navigation navigation . ."
        ". . . . . . . . .";
}

.logo {
    grid-area: logo;
}

.button {
    grid-area: button;
}

.opportunities--title {
    grid-area: opportunities--title;
    margin-top: 0px;
    margin-bottom: 0px;
    align-self: center;
}

.opportunities--box1 {
    grid-area: opportunities--box1;
}

.opportunities--box2 {
    grid-area: opportunities--box2;
}

.opportunities--box3 {
    grid-area: opportunities--box3;
}

.opportunities--box4 {
    grid-area: opportunities--box4;
}

.opportunities--box5 {
    grid-area: opportunities--box5;
}

.opportunities--box6 {
    grid-area: opportunities--box6;
    color: white;
    background-color: #EC615B;
    padding-left: 5%;
}

.button-big {
    margin-left: 10%;
}

.navigation {
    grid-area: navigation;
    align-self: end;
}

/*Типографика ========================================================================================================*/
h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    text-transform: uppercase;
    line-height: 140%;
    letter-spacing: 0.02em;
    font-weight: 900;
    font-size: 3.375em;
    text-align: left;
}

h1.opportunities--title {
    font-weight: 700;
    font-size: 2.625em;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5em;
    text-align: left;
    margin-top: 5%;
    margin-bottom: 0px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1em;
    line-height: 160%;
    text-align: left;
}

p.header--intro {
    font-size: 1.875em;
}

a.navigation--link {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.25em;
    line-height: 160%;
    text-align: left;
    text-decoration: none;
}

.subscribe--emal {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1em;
    line-height: 160%;
    text-align: left;
}

/*Оформление: кнопки =================================================================================================*/
.button-big,
.button-small {
    outline: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    border: none;
    color: #ffffff;
    background: #5222D0;
    box-shadow: 0px 4px 4px rgba(17, 8, 8, 0.25);
    margin: auto;
}

.button-small {
    font-size: 0.875em;
}

.button-big {
    font-size: 1.5em;
}

/*Оформление: картинки ===============================================================================================*/
.logo--img {
    max-width: 100%;
}

.header--img {
    max-width: 100%;
}

.opportinities--img {
    max-width: 100%;
}

/*Оформление: все остальное ==========================================================================================*/
.subscribe--emal {
    width: 90%;
    margin: 5% 5% 5% 0%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}